html {
    height: 100%;
}

body {
    background-image: url(https://images.unsplash.com/photo-1504208434309-cb69f4fe52b0?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Lato;
    color: white;
    background-position: center;
}

h1 {
  font-weight: 700;
  font-size: 5em; 
}

#content {
    text-align: center;
    padding-top: 23%; 
    text-shadow: 0px 3px 4px   rgba(0,0,0,0.4),
                 0px 8px 13px  rgba(0,0,0,0.1),
                 0px 18px 23px rgba(0,0,0,0.1);
}

hr {
    width : 425px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.fa-paw {
    padding-right: 3px;
}

.fa-user-plus:before {
    padding-left: 2px;
}

.fa-user:before {
    padding-left: 2px;;
}

